.schedulerMaster {
  width: 80%;
  border: 2px solid var(--primary);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/*
    CONTROL BAR
*/
.controlBar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*
CONTROL BAR ROW 1
*/
.controlBar .cbRow1 {
  background-color: var(--primary);
  color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.controlBar .cbRow1 > p {
  font-size: 1.4rem;
  font-weight: 800;
}

.controlBar .cbRow1 .weekShift {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.controlBar .cbRow1 .weekShift button {
  font-size: 1.5rem;
  padding: 6px 12px;
  background-color: var(--linkText);
  color: #fefefe;
}

.controlBar .cbRow1 .weekShift button:first-child {
  border-radius: 12px 0 0 12px;
}
.controlBar .cbRow1 .weekShift button:nth-child(2) {
  padding-inline: 24px;
}
.controlBar .cbRow1 .weekShift button:last-child {
  border-radius: 0 12px 12px 0;
}

/*
    CONTROL BAR ROW 2
*/
.controlBar .cbRow2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid #333;
  position: relative;
}

.controlBar .cbRow2 select {
  width: fit-content;
  height: 34px;
}

.controlBar .cbRow2 .shiftControls {
  flex: 1;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.shiftControls .locationToggle {
  width: 250px;
  height: 34px;
  background-color: #ccc;
  border-radius: 20px;
  padding: 2px 10px;
  gap: 2px;
  align-self: center;
  display: flex;
  align-items: center;
  position: relative;
}

.shiftControls .locationToggle input {
  display: none;
}

.shiftControls .locationToggle label {
  flex: 1;
  text-align: center;
  z-index: 2;
  cursor: pointer;
  font-weight: 600;
  color: var(--accent);
  line-height: 30px;
}

.shiftControls .locationToggle .toggleSlider {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--primary);
  border-radius: 20px;
  top: 0;
  transition: all 0.3s ease;
  z-index: 1;
}

/* #lc:checked ~ .toggleSlider {
  left: 0;
}

#jennings:checked ~ .toggleSlider {
  left: 50%;
} */

.controlBar .cbRow2 .shiftControls button {
  background-color: var(--linkText);
  color: var(--accent);
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  padding: 4px 10px;
}
.controlBar .cbRow2 .shiftControls button.selectedShift {
  background-color: var(--primary);
}
.controlBar .cbRow2 button.addShiftButton {
  background-color: darkgreen;
  color: #fefefe;
  font-size: 1.4rem;
  border: none;
  border-radius: 8px;
  padding: 6px;
  box-shadow: -1px 1px 3px #333;
}

.controlBar .cbRow2 .shiftControls button.deleteShiftButton {
  background-color: darkred;
}

.cbShiftForm {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: var(--primary);
  color: #fefefe;
  z-index: 100;
  transition: all 2s ease;
}

/*
   SCHEDULE BLOCK
*/

.scheduleBlock {
  width: 100%;
  border: 1px solid var(--primary);
  display: flex;
  flex-direction: column;
}

.scheduleHeader {
  display: flex;
  background-color: var(--linkText);
  color: #fefefe;
  border: 1px solid var(--linkText);
}

.scheduleFooter {
  background-color: var(--linkText);
  height: 4rem;
  display: flex;
  align-items: center;
  position: relative;
}
.scheduleFooter .footerCell {
  flex: 1;
}
.scheduleFooter button:first-child {
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 2px;
  border: none;
  color: var(--primary);
  cursor: pointer;
}
.scheduleFooter button:first-child:hover {
  color: #fefefe;
}

.scheduleFooter button:last-child.submitShiftButton {
  font-size: 1.5rem;
  margin-right: 1rem;
  padding: 2px 10px;
  background-color: darkgreen;
  color: var(--accent);
  border-radius: 8px;
}
.scheduleFooter button:last-child.submitShiftButton:hover {
  background-color: green;
}

.sfUserForm {
  position: absolute;
  background-color: var(--linkText);
  border: 6px solid var(--primary);
  width: fit-content;
  padding: 1rem;
  bottom: 0;
  right: 0;
  border-radius: 12px;
  box-shadow: -2px 2px 8px #333;
  z-index: 100;
}
.sfUserForm .importUserForm form h2 {
  color: red;
}

.scheduleBlock .userRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gridCell {
  border: 1px solid var(--primary);
  min-height: 60px;
  flex: 1;
}

.gridCell.committedCell {
  font-weight: 800;
}

.gridCell.stagedCell {
  font-style: italic;
  text-decoration: underline;
}

.gridCell:not(.employeeCell):hover,
span:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.gridCell.employeeHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gridCell.dateCellHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.gridCell.employeeCell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.gridCell.employeeCell h4 {
  width: 100%;
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gridCell.employeeCell h4 div:last-child {
  font-size: 1.4rem;
}
.gridCell.employeeCell h4 div:last-child svg:hover {
  color: var(--linkText);
}

.gridCell.dateCell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gridCell.dateCell svg {
  font-size: 1.4rem;
  color: var(--linkText);
}

.gridCell.timeOffCell svg {
  color: darkred;
}

small.mobileDateRead {
  display: none;
}

@media screen and (max-width: 1400px) {
  .schedulerMaster {
    width: 90%;
  }

  .cbRow1 {
    flex-direction: column;
    gap: 14px;
  }

  .controlBar .cbRow2 {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .controlBar .cbRow2 button {
    padding: 10px 14px !important;
  }

  .cbRow2 button.addShiftButton {
    display: none;
  }

  .shiftControls {
    flex-wrap: wrap;
  }

  .scheduleHeader {
    display: none;
  }

  .userRow {
    display: flex;
    flex-wrap: wrap;
  }

  div.gridCell.employeeCell {
    flex: 0 0 100%;
  }

  .gridCell.dateCell {
    flex: 1 0 30%;
    display: flex;
    flex-direction: column;
  }
  .gridCell.dateCell small.mobileDateRead {
    font-size: 10px;
    display: block;
  }

  button.footerCell {
    display: none;
  }
}
