.schedulerMasterBlock {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controlBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.controlBar > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  border: 1px solid var(--primary);
  height: 4rem;
  padding-inline: 1rem;
}
.controlBar > div:first-child {
  border-radius: 18px 18px 0 0;
  border-bottom: none;
}

.controlBar button:hover {
  background-color: var(--primary);
  color: var(--accent);
}
.controlBar div button:hover {
  background-color: var(--primary);
  color: var(--accent);
}

.dateDisplay {
  margin: 0;
}

.weekRoller {
  display: flex;
  justify-content: center;
  border-radius: 12px;
}

.weekRoller button {
  font-size: 20px;
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 4px 10px;
}
.weekRoller button:first-child {
  border-radius: 12px 0 0 12px;
}
.weekRoller button:last-child {
  border-radius: 0 12px 12px 0;
}

.controlBar button.addShiftButton {
  font-size: 20px;
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  padding: 4px 12px;
  border-radius: 12px;
  box-shadow: -1px 1px 4px #000;
}

/*
    CONTROL BAR LAYER 2
*/

.userBar div.departmentSelect select {
  font-size: 18px;
  padding: 2px;
  border-radius: 8px;
  color: var(--primary);
  height: 32px;
}

.userBar .shiftSelect {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userBar .shiftSelect button {
  padding: 2px 8px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-size: 18px;
  background-color: var(--secondary);
  color: var(--primary);
  box-shadow: -1px 1px 4px var(--primary);
}

.trashShift {
  font-size: 1.2rem;
  color: var(--accent);
  border: 1px solid red;
  padding: 4px;
  border-radius: 4px;
  box-shadow: -1px 1px 2px red;
  background-color: darkred;
}

/*
   CALENDAR VIEW
*/

.theCal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calMainBody {
  width: 100%;
  display: flex;
}

.calMainBody > div {
  border: 1px solid var(--primary);
  flex: 1;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.calMainBody > div:first-child > div {
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
}
.calMainBody > div > div:first-child {
  flex: 0.5;
  border-bottom: 2px solid var(--primary);
  width: 100%;
  background-color: var(--primary);
  color: var(--accent);
  padding: 4px 2px;
}
.calMainBody > div > div {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}

.employeeList > div.addEmployee {
  background-color: var(--primary);
}
.employeeList > div.addEmployee button {
  background-color: transparent;
  /* border: inset 1px solid var(--bannerBackground); */
  color: var(--secondary);
  border: none;
  height: 100%;
  width: 100%;
  text-decoration: underline;
}

.dayCell > div.spacer {
  background-color: var(--linkText);
}
