.schedulerMasterBlock {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controlBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.controlBar > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  border: 1px solid var(--linkText);
  height: 4rem;
  padding-inline: 1rem;
}
.controlBar > div:first-child {
  border-radius: 18px 18px 0 0;
  border-bottom: none;
}

.controlBar button:hover {
  background-color: var(--buttonSecondary);
}
.controlBar div button:hover {
  background-color: var(--buttonSecondary);
}

.dateDisplay {
  margin: 0;
}

.weekRoller {
  display: flex;
  justify-content: center;
  border-radius: 12px;
}

.weekRoller button {
  font-size: 20px;
  background-color: transparent;
  border: 1px solid var(--bannerBackground);
  color: var(--bannerBackground);
  padding: 4px 10px;
}
.weekRoller button:first-child {
  border-radius: 12px 0 0 12px;
}
.weekRoller button:last-child {
  border-radius: 0 12px 12px 0;
}

.controlBar button.addShiftButton {
  font-size: 20px;
  background-color: var(--linkText);
  color: var(--buttonPrimary);
  border: 2px solid var(--bannerBackground);
  color: var(--textPrimary);
  padding: 4px 12px;
  border-radius: 12px;
}

/*
    CONTROL BAR LAYER 2
*/

.controlBar div.departmentSelect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.controlBar div.departmentSelect label {
  margin-left: 4px;
}
.controlBar div.departmentSelect select {
  font-size: 16px;
  padding: 2px;
  border-radius: 8px;
  color: var(--buttonPrimary);
}

/*
   CALENDAR VIEW
*/

.theCal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calMainBody {
  width: 100%;
  display: flex;
}

.calMainBody > div {
  border: 1px solid var(--buttonSecondary);
  flex: 1;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.calMainBody > div:first-child > div {
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
}
.calMainBody > div > div:first-child {
  flex: 0.5;
  border-bottom: 2px solid var(--linkText);
  width: 100%;
  background-color: var(--bannerBackground);
  color: var(--textPrimary);
  padding: 4px 2px;
}
.calMainBody > div > div {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}

.employeeList > div.addEmployee {
  background-color: var(--linkText);
}
.employeeList > div.addEmployee button {
  background-color: transparent;
  border: inset 1px solid var(--bannerBackground);
  color: var(--textPrimary);
}

.dayCell > div.spacer {
  background-color: var(--linkText);
}
