@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --background: #2a2829;
  --backgroundDark: #1e1e1e;
  --inputBackground: #d9d9d9;
  --bannerBackground: #262f4c;
  --linkText: #6d7db2;
  --textPrimary: #f9f9f9;
  --textSecondary: #8999af;
  --buttonPrimary: #040b22;
  --buttonSecondary: #8999af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--inputBackground);
  font-family: "Inter", sans-serif;
  color: var(--linkText);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#root {
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  place-content: center;
  height: 5rem;
}

main {
  flex: 1;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  place-content: center;
  height: 5rem;
}

input {
  font-size: 18px;
  border-radius: 6px;
  padding: 2px 4px;
  border: none;
  box-shadow: -1px 1px 6px #000;
}
