@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --primary: #162660;
  --secondary: #d0e6fd;
  --linkText: #6d7db2;
  --accent: #f1e4d1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none;
}

body {
  background-color: var(--secondary);
  font-family: "Inter", sans-serif;
  color: var(--primary);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100dvh;
}

#root {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  padding-block: 4rem;
  display: flex;
  align-items: center;
  place-content: center;
  height: 5rem;
  box-shadow: 0px 2px 14px var(--linkText);
}

header a {
  font-size: 2rem;
  font-weight: 800;
}

main {
  flex: 1;
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  height: 8rem;
  background-color: var(--primary);
  color: var(--accent);
  width: 100%;
  padding-block: 4rem;
}

footer button {
  background-color: transparent;
  color: var(--secondary);
  font-size: 1.5rem;
  padding: 4px 10px;
  border: none;
}

input,
select {
  font-size: 18px;
  border-radius: 6px;
  padding: 2px 4px;
  border: none;
  box-shadow: -1px 1px 6px #000;
}
