.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100%;
  max-width: 800px;
  margin-top: 2rem;
}

.navLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navLinks a {
  background-color: var(--primary);
  color: var(--accent);
  padding: 10px 24px;
  border-radius: 8px;
  width: 100%;
  min-height: 10rem;
  place-content: center;
  text-align: center;
  box-shadow: -2px 2px 6px #333;
  font-size: 1.2rem;
}

.navLinks a svg {
  font-size: 1.5rem;
  width: 100%;
}

.navLinks a:active {
  background-color: var(--linkText);
  transform: translate(-1px, 1px);
  box-shadow: 0px -1px 2px #000;
}

.navLinks a.settingsNav {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media screen and (max-width: 600px) {
  .navLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 2rem;
    gap: 3rem;
  }

  .navLinks a {
    height: 4rem;
    width: 80%;
    min-height: 6rem;
  }
}
