.calendarHeader {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-block: 1rem;
}
.calendarHeader button {
  background-color: var(--buttonPrimary);
  color: var(--textPrimary);
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
}

.weekday {
  width: 80%;
  max-width: 750px;
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
}

.cal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
  width: 80%;
  /* border: 1px solid #000; */
  padding: 10px;
  max-width: 740px;
}

.cal div {
  border: 1px solid var(--backgroundDark);
  width: 100px;
  height: 100px;
  padding: 4px;
  background-color: var(--inputBackground);
}
.cal div:not(.empty):hover {
  background-color: var(--buttonSecondary);
  color: var(--textPrimary);
}
.cal div:active {
  background-color: var(--linkText);
  color: var(--bannerBackground);
}

.cal div.current {
  background-color: var(--buttonSecondary);
  color: var(--textPrimary);
  text-decoration: underline;
}
.cal div.current:hover {
  background-color: var(--linkText);
}
.cal div.current:active {
  background: var(--bannerBackground);
}
