.timeOffStatusMasterBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 80%;
  max-width: 1200px;
}

.timeOffStatusMasterBlock > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeOffStatusMasterBlock ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 2rem;
  width: 60%;
}

.timeOffStatusMasterBlock ul li {
  display: flex;
  width: 100%;
  min-height: 100px;
  align-items: flex-end;
  justify-content: space-between;
  background-color: var(--linkText);
  color: var(--accent);
  padding: 8px;
}

.timeOffStatusMasterBlock ul li div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
}

.timeOffStatusMasterBlock ul li div:last-child {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.timeOffStatusMasterBlock ul li div:last-child button {
  font-size: 18px;
  padding: 4px 10px;
  border-radius: 6px;
  background-color: var(--primary);
  color: var(--secondary);
}
.timeOffStatusMasterBlock ul li div:last-child button:last-child {
  background-color: darkred;
}
