form.userProfileBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  max-width: 600px;
}

form.userProfileBlock .userButtonBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
form.userProfileBlock .userButtonBlock button:last-child {
  background-color: darkred;
}
form.userProfileBlock .userButtonBlock button:last-child:disabled {
  background-color: rgb(90, 54, 54);
  color: #b4b1b1;
}

form.userProfileBlock > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
}
form.userProfileBlock div input,
select {
  font-size: 1.5rem;
  width: 80%;
  height: 40px;
  text-align: center;
  border-radius: 8px;
}

form.userProfileBlock button[type="button"] {
  background-color: var(--linkText);
  font-size: 18px;
  width: fit-content;
  align-self: center;
  color: #fefefe;
  padding: 6px 24px;
  border-radius: 8px;
  border: none;
  box-shadow: -1px 1px 6px #000;
}

form.userProfileBlock button[type="submit"] {
  font-size: 2rem;
  background-color: var(--primary);
  color: #fefefe;
  border-radius: 16px;
  padding: 10px 0;
  box-shadow: -1px 1px 6px #000;
  margin-top: 2rem;
}
