.weekViewMasterBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.weeksHeader {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-block: 1rem;
}
.weeksHeader button {
  background-color: var(--buttonPrimary);
  color: var(--textPrimary);
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
}

.weekdayList {
  width: 100%;
  max-width: 750px;
  min-width: 730px;
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
}

.weeksBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.weekRow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  column-gap: 1px;
}
.weekRow:hover {
  background-color: #5e4;
}

.weekday {
  border: 1px solid var(--buttonSecondary);
  height: 100px;
  width: 100px;
}
.weekday:not(.empty):hover {
  background-color: #5f9;
}

.empty {
  border: 1px solid var(--buttonSecondary);
  width: 100px;
  height: 100px;
}
