.viewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
}

.viewHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.viewHeader h1 {
  text-align: center;
  line-height: 2.5rem;
}

.viewHeader > div {
  display: flex;
  flex-direction: row;
  border-radius: 18px;
}

.viewHeader > div button {
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 2rem;
  padding: 4px 24px;
  border: 1px solid var(--linkText);
}

.viewHeader > div button:first-child {
  border-radius: 18px 0 0 18px;
}
.viewHeader > div button:last-child {
  border-radius: 0 18px 18px 0;
}

.userScheduleView {
  margin: 2rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-self: center;
}

.shiftDay {
  border: 2px solid var(--primary);
  border-radius: 8px;
}

.shiftDay .shiftDayHeader {
  width: 100%;
  background-color: var(--primary);
  color: var(--secondary);
  text-align: center;
  padding: 4px 10px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}
.shiftDay .shiftDayHeader h3 {
  text-align: start;
}
.shiftDay .shiftDayHeader h3 span {
  font-size: 1rem;
  font-weight: 400;
}

.shiftDay .shiftDayHeader svg {
  font-size: 1.5rem;
}

.shiftDay .shiftDayBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.shiftDay .shiftDayBody p:first-child {
  font-size: 180%;
}

.shiftDay .shiftDayBody p.locationTag {
  background-color: var(--linkText);
  color: var(--accent);
  padding: 4px 10px;
  border-radius: 30px;
  box-shadow: -1px 1px 6px #333;
  margin-top: 1rem;
}

.shiftDayBody p span:hover {
  background-color: transparent;
  color: var(--primary);
}

.shiftNote {
  color: var(--linkText);
  padding: 4px 10px;
  margin-top: 0.8rem;
  width: 100%;
  border: 1px solid var(--linkText);
  min-height: 4rem;
}

.shiftDayNoteForm {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.shiftDayNoteForm textarea {
  width: 100%;
  height: 5rem;
  resize: none;
  font-size: 18px;
  padding: 4px;
}

.shiftDayNoteForm button {
  background-color: var(--primary);
  color: var(--accent);
  padding: 6px 24px;
  border: none;
  border-radius: 8px;
  margin-block: 10px;
}

.noSchedule {
  width: 100%;
  margin: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
}
