.viewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
}

.viewHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.viewHeader h1 {
  text-align: center;
  line-height: 2.5rem;
}

.viewHeader > div {
  display: flex;
  flex-direction: row;
  border-radius: 18px;
}

.viewHeader > div button {
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 2rem;
  padding: 4px 24px;
  border: 1px solid var(--linkText);
}

.viewHeader > div button:first-child {
  border-radius: 18px 0 0 18px;
}
.viewHeader > div button:last-child {
  border-radius: 0 18px 18px 0;
}

.userScheduleView {
  margin: 2rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-self: center;
}

.userScheduleView .weekdayItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--primary);
  border-radius: 12px;
}

.userScheduleView .weekdayHeader {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 10px 1rem;
  width: 100%;
  border-radius: 12px 12px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userScheduleView .weekdayHeader svg {
  color: var(--accent);
  font-size: 1.5rem;
}
.userScheduleView .weekdayHeader svg:hover {
  color: var(--linkText);
}
.userScheduleView .weekdayHeader svg:active {
  color: var(--linkText);
}

.userScheduleView .weekdayBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 1rem;
}

.contentForm {
  width: 100%;
  height: 5rem;
  resize: none;
  font-size: 18px;
  padding: 4px;
}

.submitContentButton {
  background-color: var(--primary);
  color: var(--accent);
  padding: 6px 24px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

.noSchedule {
  width: 100%;
  margin: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
}
