.timeOffMasterBlock {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 600px;
}

.timeOffMasterBlock form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 300px;
}

.timeOffMasterBlock form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.timeOffMasterBlock form div input {
  width: 100%;
  height: 40px;
}

.timeOffMasterBlock form div textarea {
  width: 100%;
  height: 10rem;
  resize: none;
  box-shadow: -1px 1px 6px #000;
}

.timeOffMasterBlock form button {
  font-size: 2rem;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--accent);
}
