.registerFormMasterBlock {
  width: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.registerFormMasterBlock h2 {
  font-size: 2.5rem;
}

.registerFormMasterBlock form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 600px;
}

.registerFormMasterBlock form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.registerFormMasterBlock form div input,
select {
  width: 100%;
  height: 48px;
  font-size: 24px;
  padding: 4px;
  border: none;
  border-radius: 8px;
}

.registerFormMasterBlock form div:first-child select {
  width: fit-content;
}

.registerFormMasterBlock button {
  background-color: var(--primary);
  color: var(--accent);
  font-size: 36px;
  padding: 10px 24px;
  border-radius: 8px;
}

/*
    IMPORTED TO COMPONENT
*/

.importUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 12px;
  border: 3px solid var(--linkText);
  box-shadow: -1px 1px 3px #333;
  margin-bottom: 2rem;
}

.importUserForm form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
  row-gap: 1rem;
}

.importUserForm form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.importUserForm form div input,
select {
  height: 38px;
  font-size: 18px;
}

.importUserForm form button[type="submit"] {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--primary);
  color: var(--secondary);
  margin: 20px 0;
  border-radius: 8px;
  padding: 10px 0;
  font-size: 1.4rem;
}
