.registerFormMasterBlock {
  width: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.registerFormMasterBlock h2 {
  font-size: 2.5rem;
}

.registerFormMasterBlock form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 600px;
}

.registerFormMasterBlock form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.registerFormMasterBlock form div input,
select {
  width: 100%;
  height: 48px;
  font-size: 24px;
  padding: 4px;
  border: none;
  border-radius: 8px;
}

.registerFormMasterBlock form div:first-child select {
  width: fit-content;
}

.registerFormMasterBlock button {
  background-color: var(--primary);
  color: var(--accent);
  font-size: 36px;
  padding: 10px 24px;
  border-radius: 8px;
}
